* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

section {
    background-color: #999999;
    border: 1px solid black;
    padding: 15px;
    width: 32%;
    height: 210px;
    float: left;
    position: relative;
    overflow: hidden;
}

div {
    margin: 1%;
    width: 100%;
}

#s2 {
    margin-left: 1%;
    margin-right: 1%;
}



h1 {
    font-family: Comic Sans MS;
    font-weight: bold;
    font-size: 175%;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;

}

h2 {
    font-family: Comic Sans MS;
    position: absolute;
    font-size: 125%;
    right: 0px;
    top: 0px;
    border: 1px solid black;
    width: 30%;
    text-align: center;
}

#menu1 {
    background-color: #d59898;
}

#menu2 {
    background-color: #c14543;
    color: white;
}

#menu3 {
    background-color: #e5d097;
}

p {
    position: relative;
    font-family: Comic Sans MS;
    top: 30px;
}

@media (min-width: 992px) {}

@media (min-width: 768px) and (max-width: 991px) {
    div {
        margin: 2%;
    }

    #s1 {
        width: 47%;
        margin-right: 2%;
    }

    #s2 {
        width: 47%;
        margin-left: 0;
        margin-right: 0;
    }

    #s3 {
        width: 96%;
        clear: left;
        margin-top: 2%;
    }
}

@media (max-width: 767px) {
    div {
        margin: 2%;
    }

    #s1 {
        width: 96%;
    }

    #s2 {
        width: 96%;
        margin-left: 0;
        margin-right: 0;
        clear: left;
        margin-top: 2%;
    }

    #s3 {
        width: 96%;
        clear: left;
        margin-top: 2%;
    }
}