#navbar-compo {
    padding: 0;
}

.navbar {
    padding-bottom: 0;
}

.navbar-brand {
    padding: 15px;
}

button {
    margin-right: 15px;
}

.nav-link {
    text-align: center;
    height: 60px;
    background-color: rgb(6, 76, 109);
    border: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
}

#link-top {
    margin-top: 10px;
}

#nav-list a:hover {
    background: rgb(131, 183, 196);
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

h1 {
    padding-top: 10px;
}

h3 {
    padding-top: 10px;
}

.menu-chicken {
    background-color: rgb(210, 209, 214);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.menu-chicken p {
    margin: 10px 30px;
}

.menu-beef {
    background-color: rgb(210, 209, 214);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.menu-beef p {
    margin: 10px 30px;
}

.menu-sushi {
    background-color: rgb(210, 209, 214);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.menu-sushi p {
    margin: 10px 30px;
}